<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1></h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="mt-4 py-4 text-center border-top">
        <p>© 2024 Шкільна інформаційна система. Усі права захищено.</p>
    </footer>
</body>
</html>
