<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учень - Меню</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Учень</h1>
        <div class="menu">
            <a href="{% url 'profile' %}">Профіль</a>
            <a href="{% url 'offices_list' %}">Кабінети</a>
            <a href="#">Розклад</a>
            <a href="#">Заклади</a>
        </div>
    </div>
</body>
</html>
